.Header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.Header img {
    width: 80%;
    box-shadow: #bbbbbb 0px 2px 5px;
    margin: auto;
}

.Header .metadata {
    padding: .5em;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
}

.Header .metadata .name {
    grid-column: 1/3;
}

.Header .metadata .description {
    grid-column: 1/3;
}
