.TaskArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
    background-color: #eeeeee;
    grid-gap: .5em;

    h1 {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-gap: 20px;

        &:before {
            content: "";
            align-self: center;
            border-top: 1px solid #999;
        }

        &:after {
            content: "";
            align-self: center;
            border-top: 1px solid #999;
        }
    }

    .header {
        grid-column: 1/5;
    }

    .header-column {
        font-size: 1.2em;
        font-weight: 400;
    }

    .models {
        grid-column: 2/5;
    }
}

